##### Functions in Python

In [121]:
num = 24
if num%2==0:
    print("The number is even")
else:
    print("The number is odd")

The number is even

In [122]:
def even_or_odd(num):
    if num%2==0:
        print("Even number")
    else:
        print("Odd number")

In [123]:
even_or_odd(3)

Odd number

In [124]:
def hello_world():
    print("Hello world!")

In [125]:
hello_world()

Hello world!

In [126]:
hello = hello_world()

Hello world!

In [127]:
hello

In [128]:
print(hello)

None

In [129]:
def hello_world():
    return "Hello world!"

In [130]:
hello2=hello_world()

In [131]:
hello2

'Hello world!'

In [132]:
print(hello2)

Hello world!

In [133]:
def add_num(num1,num2):
    return num1+num2

In [134]:
add_num(1,3)

4

In [135]:
sum = add_num(1,3)
print(sum)

4

In [136]:
def hello(name,age=25):
    print("My name is {} and age is {}".format(name,age))

In [137]:
hello("Benkly")

My name is Benkly and age is 25

In [138]:
hello("Benkly",21)

My name is Benkly and age is 21

In [139]:
hello()

TypeError: hello() missing 1 required positional argument: 'name'

In [140]:
even_or_odd()

TypeError: even_or_odd() missing 1 required positional argument: 'num'

##### Positional & Keyword arguments

In [141]:
#In hello function, name is positional argument and age is keyword argument

In [142]:
def hello(*args,**kwargs):
    print(args)
    print(kwargs)

In [143]:
hello("Benkly","Kai","Joffa")

('Benkly', 'Kai', 'Joffa')
{}

In [144]:
hello("Benkly","Kai","Joffa",age=21,job="SDE")

('Benkly', 'Kai', 'Joffa')
{'age': 21, 'job': 'SDE'}

In [145]:
lst = ["Benkly","Kai","Joffa"]
dic = {"age":21, "role":"SDE"}

In [146]:
hello(lst,dic)

(['Benkly', 'Kai', 'Joffa'], {'age': 21, 'role': 'SDE'})
{}

it's considering both lst and dic as positional arguments by default

To avoid that problem use * & ** before the arguments

In [147]:
hello(*lst, **dic)

('Benkly', 'Kai', 'Joffa')
{'age': 21, 'role': 'SDE'}

In [148]:
def even_odd_sum(lst):
    even_sum = 0
    odd_sum = 0
    for i in lst:
        if i%2==0:
            even_sum+=i
        else:
            odd_sum+=i
    return even_sum, odd_sum

In [149]:
eSum,oSum=even_odd_sum([1,2,3,4,5,6,7])

In [150]:
print(eSum,oSum)

12 16

##### Map function in Python

In [151]:
def even_or_odd(num):
    if (num%2==0):
        return "The number {} is Even".format(num)
    else:
        return "The number {} is Odd".format(num)

In [152]:
even_or_odd(23)

'The number 23 is Odd'

In [153]:
lst = [2,3,5,7,79,69,99,78,24,100]

In [154]:
map(even_or_odd,lst)

In [155]:
list(map(even_or_odd,lst))

['The number 2 is Even',
 'The number 3 is Odd',
 'The number 5 is Odd',
 'The number 7 is Odd',
 'The number 79 is Odd',
 'The number 69 is Odd',
 'The number 99 is Odd',
 'The number 78 is Even',
 'The number 24 is Even',
 'The number 100 is Even']

##### Lambda Function

In [156]:
def add(a,b):
    return a+b

In [157]:
add(4,5)

9

In [158]:
lambda a,b:a+b

In [159]:
addition = lambda a,b:a+b

In [160]:
addition(12,13)

25

In [161]:
def isEven(num):
    if num%2==0:
        return True

In [162]:
isEven(13)

In [163]:
isEven(12)

True

In [164]:
isEven = lambda a:a%2==0

In [165]:
isEven(11)

False

In [166]:
isEven(24)

True

##### Filter function in python

In [167]:
lst

[2, 3, 5, 7, 79, 69, 99, 78, 24, 100]

In [168]:
filter(lambda num:num%2==0,lst)

In [169]:
list(filter(lambda num:num%2==0,lst))

[2, 78, 24, 100]

In [170]:
list(map(lambda num:num%2==0,lst))

[True, False, False, False, False, False, False, True, True, True]

##### List Comprehension

In [171]:
def squares(lst):
    new_lst = []
    for i in lst:
        new_lst.append(i*i)
    return new_lst

In [172]:
squares([1,2,3,4,5,6,7])

[1, 4, 9, 16, 25, 36, 49]

In [173]:
[i*i for i in [1,2,3,4,5,6]]

[1, 4, 9, 16, 25, 36]

In [174]:
def even_squares(lst):
    new_lst = []
    for i in lst:
        if(i%2==0):
            new_lst.append(i*i)
    return new_lst

In [175]:
even_squares([1,2,3,4,5,6,7])

[4, 16, 36]

In [176]:
[i*i for i in [1,2,3,4,5,6,7] if i%2==0]

[4, 16, 36]

##### String Formatting in Python

In [177]:
print("Hi Prends")

Hi Prends

In [178]:
strs = "Hello Bras"
strs

'Hello Bras'

In [179]:
def greeting(name):
    return "Hello {}. You are screwed!!!".format(name)

In [180]:
greeting('Benkly')

'Hello Benkly. You are screwed!!!'

In [181]:
def greet(name):
    return f"Hello {name}"

In [182]:
greet("Kai")

'Hello Kai'

##### Python list iterables vs iterators

In [183]:
lst = [1,2,3,4,5,6,7]
for i in lst:
    print(i)

1
2
3
4
5
6
7

List is iterable

In case of iterables, all the values in the list are stored in different memory locations

##### iter() => It is a function that converts list into an iterator

In [184]:
iter(lst)

In case of iterators, the value will only be stored in memory on calling next() function

In [185]:
lst1 = iter(lst)

In [186]:
lst1

##### How to retrieve the elements from an iterator?

Using next() or for loop

In [187]:
next(lst1)

1

In [188]:
next(lst1)

2

In [189]:
next(lst1)

3

In [190]:
next(lst1)

4

In [191]:
next(lst1)

5

In [192]:
next(lst1)

6

In [193]:
next(lst1)

7

In [194]:
next(lst1)

StopIteration:

In [195]:
for i in iter(lst):
    print(i)

1
2
3
4
5
6
7

Stop Iteration Exception is handled already in for loop

##### Exception Handling in Python

In [1]:
a=b

NameError: name 'b' is not defined

In [2]:
try:
    a=b
except Exception as ex:
    print(ex)

name 'b' is not defined

In [3]:
try:
    a=b
except Exception:
    print("Something went wrong")

Something went wrong

In [4]:
try:
    a=b
except NameError as ex1:
    print("The user have not defined the variable")
except Exception as ex:
    print(ex)

The user have not defined the variable

In [200]:
a=1
b="s"
c=a+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [201]:
try:
    a=1
    b="s"
    c=a+b
except NameError as ex1:
    print("The user have not defined the variable")
except Exception as ex:
    print(ex)

unsupported operand type(s) for +: 'int' and 'str'

In [202]:
try:
    a=1
    b="s"
    c=a+b
except NameError as ex1:
    print("The user have not defined the variable")
except TypeError as ex2:
    print("The data types are not matching")
except Exception as ex:
    print(ex)

The data types are not matching

In [203]:
a=1
b=0
a/b

ZeroDivisionError: division by zero

In [204]:
try:
    a=int(input("Enter first value: "))
    b=int(input("Enter second value: "))
    c=a+b
    d=a/b
    e=a*b
    print(c)
    print(d)
    print(e)
except NameError as ex1:
    print("The user have not defined the variable")
except TypeError as ex2:
    print("The data types are not matching")
except ZeroDivisionError as ex3:
    print("Second value must be non zero")
except Exception as ex:
    print(ex)

Enter first value: 12
Enter second value: 0
Second value must be non zero

##### try-else

If exception is not triggered, it will go to the else block

In [205]:
try:
    a=int(input("Enter first value: "))
    b=int(input("Enter second value: "))
    c=a+b
    d=a/b
    e=a*b
except NameError as ex1:
    print("The user have not defined the variable")
except TypeError as ex2:
    print("The data types are not matching")
except ZeroDivisionError as ex3:
    print("Second value must be non zero")
except Exception as ex:
    print(ex)
else:
    print(c)
    print(d)
    print(e)

Enter first value: 12
Enter second value: 1
13
12.0
12

##### try-else-finally

In [206]:
try:
    a=int(input("Enter first value: "))
    b=int(input("Enter second value: "))
    c=a+b
    d=a/b
    e=a*b
except NameError as ex1:
    print("The user have not defined the variable")
except TypeError as ex2:
    print("The data types are not matching")
except ZeroDivisionError as ex3:
    print("Second value must be non zero")
except Exception as ex:
    print(ex)
else:
    print("Inside else block")
    print(c)
    print(d)
    print(e)
finally:
    print("The execution is completed")

Enter first value: 12
Enter second value: 3
Inside else block
15
4.0
36
The execution is completed

In [207]:
try:
    a=int(input("Enter first value: "))
    b=int(input("Enter second value: "))
    c=a+b
    d=a/b
    e=a*b
except NameError as ex1:
    print("The user have not defined the variable")
except TypeError as ex2:
    print("The data types are not matching")
except ZeroDivisionError as ex3:
    print("Second value must be non zero")
except Exception as ex:
    print(ex)
else:
    print("Inside else block")
    print(c)
    print(d)
    print(e)
finally:
    print("The execution is completed")

Enter first value: 12
Enter second value: 0
Second value must be non zero
The execution is completed

##### Custom Exception

In [208]:
class Error(Exception):
    pass

class dobException(Error):
    pass

In [218]:
year = int(input("Enter your DOB year: "))
age = 2024-year

Enter your DOB year: 2000

In [219]:
try:
    if age>20 and age<=30:
        print("Valid Age. You can be in depression")
    else:
        raise dobException
except dobException:
    print("The age is not within the range. I feel Sorry for you.")

Valid Age. You can be in depression

In [222]:
year = int(input("Enter your DOB year: "))
age = 2024-year

Enter your DOB year: 1989

In [223]:
try:
    if age1>20 and age1<=30:
        print("Valid Age. You can be in depression")
    else:
        raise dobException
except dobException:
    print("The age is not within the range. I feel Sorry for you.")

The age is not within the range. I feel Sorry for you.